APP_NAME=Assistant
SECRET_KEY=django-insecure-2lnjn6kdr%d0)n@gzyhx*i+#f9nu0)!6y51qn&r^gyvpg^n2&4
OIDC_RSA_PRIVATE_KEY_FILE=oidc.key
JWT_ISSUER=Alpha
DEBUG=True
LOCAL_BUILD=True
DEFAULT_HOST=localhost:8008
BUSINESS_HOST=127.0.0.1:8008
BUSINESS_FRONTEND_DEV_MODE=True
DOCS_HOST=127.0.0.1:8009
DOCS_FRONTEND_DEV_MODE=True
CORS_ALLOW_ALL_ORIGINS=
CORS_ALLOWED_ORIGINS=http://localhost:8008,http://localhost:8009,http://127.0.0.1:8008,http://127.0.0.1:8009
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,host.docker.internal
USE_X_FORWARDED_HOST=
DB_HOST=127.0.0.1
DB_PORT=3308
DB_USER=
DB_PASSWORD=
DB_NAME=
BUSINESS_CLIENT_ID=ejnIx2wsSw73lvJrGAO3CXO111SikplyDPJ9BdEn
BUSINESS_CLIENT_SECRET=kUVb7jaAkWcDt9nOjes89SpLmNPRG99VNnRuonudxmxPLGRQEd1fuFzaeBHAQXKvDt6DAE3jheNYZVUFPDOM9lyon399WTdz5thETiHxsZXKAHe59Q1vKAo9E0KGl61f
ECOMMERCE_CLIENT_ID=uFQDyHX92rtPLjymwIu0Lfwk9NBC8SpSx85JDTiR
ECOMMERCE_CLIENT_SECRET=sQCNyW8wobunXhgLyRXa6Kl6Wos8BFqh9lamJFvSMvwzqnzKT7SeI3mC03IkWtCm6DBuKEzDEfYMDcT3L3HMPKKRj8HcXo90ISVGdSPqoJsKTZ11IqHaMT9Xbypv2OK4
SUPER_ADMIN_EMAIL=
SUPER_ADMIN_PASSWORD=
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=''
EMAIL_HOST_PASSWORD=''
DEFAULT_FROM_EMAIL=
ALLOWED_SWAGGER=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
STORE_USER_FILES_ON_S3=
AWS_STORAGE_BUCKET_NAME=
AWS_S3_REGION_NAME=
FILE_UPLOAD_MAX_MEMORY_SIZE=20971520
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_CALLER_ID=
OTP_TOTP_SYNC=0
OPEN_SEARCH_HOST=localhost:9206
OPEN_SEARCH_SECURE_SCHEME=https
OPEN_SEARCH_SECURE_HOST=192.30.255.112
OPEN_SEARCH_SECURE_PORT=9201
OPEN_SEARCH_USER=admin
OPEN_SEARCH_PASSWORD=M4P@s6w0r9d
OPEN_SEARCH_TIMEOUT=120
RASA_ENDPOINT=http://localhost:5008
